# Copy to .env.local for local testing
# Get from Supabase Dashboard > Settings > Database
DATABASE_URL="postgres://postgres.kqittxsffvnqxkxsdfjb:RZVdZPLpEfwBUd1j@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"

# Get from Supabase Dashboard > Settings > API
SUPABASE_URL="https://kqittxsffvnqxkxsdfjb.supabase.co"
SUPABASE_KEY=testing

# Generate random string
SECRET_KEY=3sekawancinta@magot!!
