POSTGRES_URL_POSTGRES_URL=postgresql://postgres:password@db.xxx.supabase.co:5432/postgres

# Get from Supabase Dashboard > Settings > API
POSTGRES_URL_SUPABASE_URL=https://xxx.supabase.co
POSTGRES_URL_SUPABASE_SECRET_KEY=eyJ...

# Generate random string
SECRET_KEY=3sekawancinta@magot!!
